.image-container {
    position: relative;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
  }
  
  .image-container:hover .overlay {
    height: 100%;
    opacity: 1;
  }
  
  .image-container img {
    transition: transform 0.3s ease; /* Add transition for zoom effect */
  }
  
  .image-container:hover img {
    transform: scale(1.2); /* Add zoom effect */
  }
  
  .cursor-zoom {
    cursor: zoom-in; /* Set cursor style to zoom-in */
  }
  