html {
    font-size: 30px;
    font-size: 2vw;
    font-family: Helvetica;
}

h1 {
    font-size: 4em;
    font-family: Bruno Ace sc;

}

h2 {
    font-size: 3rem;
}  

section {
    font-size: 1.8rem;
    font-family: Bruno Ace sc, sans-serif;
}
/* This text decoration createsa no lone undneath text */
h2 {
    text-decoration: wavy underline cornflowerblue;
}

h4 {
    font-size: 4rem;
    font-weight: 400;
    text-transform: capitalize;
    color: hsl(256, 80%, 41%);
    text-shadow: 5px 5px 2px hsl(0, 100%, 50%, 0.8), -3px -3px 2px hsl(100, 100%, 50%, 0.8);
    
}